<footer class="sticky">
	<div class="container text-center" style="width: 65%;">
		<button class="btn btn-success btn-lg btn-block py-3"><a href="tel:0542357718" class="text-white">לתיאום תורים התקשרו</a></button>
	</div>
  </footer>


<footer class="footer">
	<div class="row">
		<div class="footer-right col-md-4 col-sm-4 text-white mx-auto">
			<p class="my-1 p-0 ">שעות פתיחה</p>
			<p>
				ימי א'-ה': 10:00-19:00
				<br class="m-0 p-0 ">
				שישי: 9:00-16:00
			</p>
		</div>
		<div class="footer-center col-md-4 col-sm-4 mx-auto pr-5">
			<div>
				<a href="http://maps.google.com/?q=Ha-Patish Street 6, Ness Ziona"><i class="fa fa-map-marker"></i></a>
				<p text dir="rtl"><span text dir="rtl"> הפטיש 6</span> נס ציונה, ישראל</p>
			</div>
			<div>
				<a href="tel:0542357718"><i class="fa fa-phone" href="tel:0542357718"></i></a>
				<p>054-2357718</p>
			</div>
			<div>
				<a href="mailto:orbarberdog@gmail.com"><i class="fa fa-envelope"></i></a>
				<p><a href="mailto:orbarberdog@gmail.com">orbarberdog@gmail.com</a></p>
			</div>
		</div>
		<div class="footer-left col-md-4 col-sm-4">
			<p class="about">
				<span>Or Barberdog - מספרת כלבים</span> 
			</p>
			<div class="icons">
				<a href="https://www.facebook.com/Or-Barberdog-%D7%9E%D7%A1%D7%A4%D7%A8%D7%AA-%D7%9B%D7%9C%D7%91%D7%99%D7%9D-1227256140783366/"><i class="fa fa-facebook"></i></a>
				<a href="https://www.google.com/search?sxsrf=ACYBGNS2ddVHyss2o_DUHfGaPYLa9JVTHw:1578420697618&ei=0MkUXonSCaeD8gKI7JfICg&q=%D7%90%D7%95%D7%A8%20%D7%9E%D7%A1%D7%A4%D7%A8%D7%AA%20%D7%9B%D7%9C%D7%91%D7%99%D7%9D%20%D7%A0%D7%A1%20%D7%A6%D7%99%D7%95%D7%A0%D7%94&oq=+%D7%90%D7%95%D7%A8%D7%9E%D7%A1%D7%A4%D7%A8%D7%AA+%D7%9B%D7%9C%D7%91%D7%99%D7%9D+%D7%A0%D7%A1+%D7%A6%D7%99%D7%95%D7%A0%D7%94&gs_l=psy-ab.3...7787.8145..8550...0.0..0.203.988.0j5j1......0....1..gws-wiz.......35i39i19j0i7i30j0i8i30j38j35i304i39j0i13i30i19j0i13i5i30i19j0i8i13i30i19._bOHuoqBPhA&ved=2ahUKEwjC_fKni_LmAhUSHcAKHchwAqgQvS4wAXoECAsQMQ&uact=5&npsic=0&rflfq=1&rlha=0&rllag=31928546,34793568,1598&tbm=lcl&rldimm=12322062958376997367&rldoc=1&tbs=lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!2m1!1e2!2m1!1e16!2m1!1e3!3sIAE,lf:1,lf_ui:2&rlst=f#rlfi=hd:;si:12322062958376997367;mv:[[31.928496100000004,34.809652799999995],[31.921792500000002,34.7927976]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!2m1!1e2!2m1!1e16!2m1!1e3!3sIAE,lf:1,lf_ui:2"><i class="fa fa-google-plus"></i></a>
				<a href="https://www.instagram.com/or_barberdog/"><i class="fa fa-instagram"></i></a>
			</div>
		</div>
	</div>
	<div>
		<p class="menu my-0">
			<a href="/"> Home</a>
		</p>
		<p class="name my-0">&copy;Or Barber-Dog 2020 || <a href="https://www.linkedin.com/in/ilay-reshef-07a174138/">Powered by Ilay Reshef </a></p>
	</div>
  </footer>

 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>