<!DOCTYPE html>
<html>
<head>
    <title>Barber-Dog מספרת כלבים</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-TFRJ4NN');</script>
	<!-- End Google Tag Manager -->
    <meta name="google-site-verification" content="5LNO70MQfuuFAeSyrOQ4Slb88spjS-RfCVG-bzK0MRc" />
    <!-- <meta name="description" content="מספרה מקצועית עם התמחות בזנים גזעיים, אור ברברדוג, אור ברבר דוג
    הכוללת טיפולי טיפוח הפרווה,תספורת עונתית, התרת קשרים, גזיזת ציפורניים, טיפול נגד מזיקים,  התרת קשרים וטיפוח כללי לכלב שלכם
    "> -->  
    <meta name="keywords" content="מספרת כלבים בנס ציונה - ספר לכלבים - or barberdog">
    <meta name="description" content="מספרת כלבים באווירה נעימה בנס ציונה - סוגי תספורות: תספורת גזע וטיפוח, תספורת בהתאמה אישית, טיפול לטיפוח הפרווה">
    <meta name="description" content="פקינז, פומרניאן ,ברברדוג, ברבר דוג, מספרת כלבים, אור מספרת כלבים, מספרת כלבים נס ציונה, אור ספר כלבים">
    <meta name="keywords" content="פקינז, פומרניאן ,ברברדוג, ברבר דוג, מספרת כלבים, אור מספרת כלבים, מספרת כלבים נס ציונה, אור ספר כלבים">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/barberdog.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet"> 
	<style type="text/css">
		body {
          background: url(imgs/bg.png), center center;
 		 width: auto;
		  height: auto;
          font-family: 'Heebo', sans-serif;
        
		}
	</style>
</head>
<body> 
    	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFRJ4NN"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
	<header>
        <div class="container ">
           <nav id="mainNavbar" class="navbar navbar-expand-sm navbar-dark text-light bg-dark fixed-top">
            <span class="nav-item active">אור: 052-2357718</span>
            <span class="px-2">
                <a class="px-0" href="https://www.facebook.com/Or-Barberdog-%D7%9E%D7%A1%D7%A4%D7%A8%D7%AA-%D7%9B%D7%9C%D7%91%D7%99%D7%9D-1227256140783366/"><i class="fa fa-facebook"></i></a>
				<a class="px-1" href="https://www.google.com/search?biw=1366&bih=626&tbm=lcl&sxsrf=ALeKk02i34ORnj2_wF8N0NSLQ6xffZ9khQ%3A1591964622374&ei=znPjXqi9FvH3qwGFurvwCQ&q=Barberdog+-+%D7%9E%D7%A1%D7%A4%D7%A8%D7%AA+%D7%9B%D7%9C%D7%91%D7%99%D7%9D&oq=Barberdog+-+%D7%9E%D7%A1%D7%A4%D7%A8%D7%AA+%D7%9B%D7%9C%D7%91%D7%99%D7%9D&gs_l=psy-ab.3..38.7612.7612.0.8534.1.1.0.0.0.0.228.228.2-1.1.0....0...1c.2.64.psy-ab..0.1.227....0.oZ5O4x57JFQ#rlfi=hd:;si:12322062958376997367;mv:[[31.922331577319024,34.79391264553327],[31.92197162268096,34.793488554466755]]"><i class="fa fa-google-plus"></i></a>
				<a class="px-0" href="https://www.instagram.com/or_barberdog/"><i class="fa fa-instagram"></i></a>
            </span>
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
      
                <div class="collapse navbar-collapse justify-content-end" id="navLinks">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link d-flex flex-row-reverse" href="/">בית</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row-reverse" href="/about">אודות</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row-reverse" href="/contact">צרו קשר</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row-reverse" href="/gallery">גלריה</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row-reverse" href="/Recommendations">המלצות</a>
                        </li>
                    </ul>
                </div>
            </nav> 
        </div>
    </header>  

    <section id="header" class="jumbotron text-center">
		<div class=text-center>
            <img id="logo" class="logo mt-5 pt-4" src="imgs/barberdogLogonew.png" alt="logo">
                <h1 dir="rtl" class="pb-0 mb-0" alt="">מספרת כלבים בנס ציונה</h1>
                <h6 alt="place address">הפטיש 6, נס ציונה</h6>
        </div>  
	</section>


   