<!DOCTYPE html>
<html>
<head>
    <title>Barber-Dog מספרת כלבים</title>
    <meta name="google-site-verification" content="5LNO70MQfuuFAeSyrOQ4Slb88spjS-RfCVG-bzK0MRc" />
    <!-- <meta name="description" content="מספרה מקצועית עם התמחות בזנים גזעיים, אור ברברדוג, אור ברבר דוג
    הכוללת טיפולי טיפוח הפרווה,תספורת עונתית, התרת קשרים, גזיזת ציפורניים, טיפול נגד מזיקים,  התרת קשרים וטיפוח כללי לכלב שלכם
    "> -->  
    <meta name="keywords" content="מספרת כלבים בנס ציונה - ספר לכלבים - or barberdog">
    <meta name="description" content="מספרת כלבים באווירה נעימה בנס ציונה - סוגי תספורות: תספורת גזע וטיפוח, תספורת בהתאמה אישית, טיפול לטיפוח הפרווה">
    <meta name="description" content="פקינז, פומרניאן ,ברברדוג, ברבר דוג, מספרת כלבים, אור מספרת כלבים, מספרת כלבים נס ציונה, אור ספר כלבים">
    <meta name="keywords" content="פקינז, פומרניאן ,ברברדוג, ברבר דוג, מספרת כלבים, אור מספרת כלבים, מספרת כלבים נס ציונה, אור ספר כלבים">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/barberdog.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet"> 
	<style type="text/css">
		body {
 		 background: url(imgs/bg.png) center center;
 		 width: auto;
		  height: auto;
		  font-family: 'Heebo', sans-serif;
		}
	</style>
</head>
<body> 
	<header>
        <div class="container ">
           <nav id="mainNavbar" class="navbar navbar-expand-sm navbar-dark text-light bg-dark fixed-top">
            <span class="nav-item active">אור: 052-2357718</span>
            <span class="px-2">
                <a class="px-0" href="https://www.facebook.com/Or-Barberdog-%D7%9E%D7%A1%D7%A4%D7%A8%D7%AA-%D7%9B%D7%9C%D7%91%D7%99%D7%9D-1227256140783366/"><i class="fa fa-facebook"></i></a>
				<a class="px-1" href="https://www.google.com/search?sxsrf=ACYBGNS2ddVHyss2o_DUHfGaPYLa9JVTHw:1578420697618&ei=0MkUXonSCaeD8gKI7JfICg&q=%D7%90%D7%95%D7%A8%20%D7%9E%D7%A1%D7%A4%D7%A8%D7%AA%20%D7%9B%D7%9C%D7%91%D7%99%D7%9D%20%D7%A0%D7%A1%20%D7%A6%D7%99%D7%95%D7%A0%D7%94&oq=+%D7%90%D7%95%D7%A8%D7%9E%D7%A1%D7%A4%D7%A8%D7%AA+%D7%9B%D7%9C%D7%91%D7%99%D7%9D+%D7%A0%D7%A1+%D7%A6%D7%99%D7%95%D7%A0%D7%94&gs_l=psy-ab.3...7787.8145..8550...0.0..0.203.988.0j5j1......0....1..gws-wiz.......35i39i19j0i7i30j0i8i30j38j35i304i39j0i13i30i19j0i13i5i30i19j0i8i13i30i19._bOHuoqBPhA&ved=2ahUKEwjC_fKni_LmAhUSHcAKHchwAqgQvS4wAXoECAsQMQ&uact=5&npsic=0&rflfq=1&rlha=0&rllag=31928546,34793568,1598&tbm=lcl&rldimm=12322062958376997367&rldoc=1&tbs=lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!2m1!1e2!2m1!1e16!2m1!1e3!3sIAE,lf:1,lf_ui:2&rlst=f#rlfi=hd:;si:12322062958376997367;mv:[[31.928496100000004,34.809652799999995],[31.921792500000002,34.7927976]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!2m1!1e2!2m1!1e16!2m1!1e3!3sIAE,lf:1,lf_ui:2"><i class="fa fa-google-plus"></i></a>
				<a class="px-0" href="https://www.instagram.com/or_barberdog/"><i class="fa fa-instagram"></i></a>
            </span>
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
      
                <div class="collapse navbar-collapse justify-content-end" id="navLinks">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link d-flex flex-row-reverse" href="/">בית</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row-reverse" href="/about">אודות</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row-reverse" href="/contact">צרו קשר</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row-reverse" href="/gallery">גלריה</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row-reverse" href="/Recommendations">המלצות</a>
                        </li>
                    </ul>
                </div>
            </nav> 
        </div>
    </header>  

    <section id="header" class="jumbotron text-center">
		<div class=text-center>
            <img id="logo" class="logo mt-5 pt-4" src="imgs/barberdogLogonew.png" alt="logo">
                <h1 dir="rtl" class="pb-0 mb-0" alt="">מספרת כלבים בנס ציונה</h1>
                <h6 alt="place address">הפטיש 6, נס ציונה</h6>
        </div>  
	</section>


   