<!DOCTYPE html>
<html>
<head>
    <title>Barber-Dog מספרת כלבים</title>
    <meta name="google-site-verification" content="iev2eiZprzihZe55VVUEzNY0Tj2_Ce09G8esVn6ZVVg"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/barberdog.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet"> 
	<style type="text/css">
		body {
 		 background: url(imgs/bg.png) center center;
 		 width: auto;
		  height: auto;
		  font-family: 'Heebo', sans-serif;
		}
	</style>
</head>
<body> 
	<header>
        <div class="container ">
           <nav id="mainNavbar" class="navbar navbar-expand-sm navbar-dark text-light bg-dark fixed-top">
            <span class="nav-item active">אור: 052-2357718</span>
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
      
                <div class="collapse navbar-collapse justify-content-end" id="navLinks">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link d-flex flex-row-reverse" href="/">בית</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row-reverse" href="/contact">צרו קשר</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row-reverse" href="/product">מוצרים</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row-reverse" href="/gallery">גלריה</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-row-reverse" href="/Recommendations">המלצות</a>
                        </li>
                    </ul>
                </div>
            </nav> 
        </div>
    </header>  

    <section id="header" class="jumbotron text-center">
		<div class=text-center>
            <img id="logo" class="logo mt-5 pt-4" src="imgs/barberdogLogonew.png">
                <h1 class="pb-0 mb-0">מספרת כלבים</h1>
                <h6>הפטיש 6, נס ציונה</h6>
        </div>  
	</section>


   