<!DOCTYPE html>
<html>
<head>
	<title>Barber-Dog מספרת כלבים</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/barberdog.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet"> 
	<style type="text/css">
		body {
 		 background: url(imgs/bg.png) center center;
 		 width: auto;
		  height: auto;
		  font-family: 'Heebo', sans-serif;
		}
	</style>
</head>
<body>  
	<header>
        <div class="container ">
           <nav class="navbar navbar-expand-xl navbar-dark text-light bg-dark sticky">
              <a href="#" class="navbar-brand"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">About Me</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Contact Me</a>
                  </li>
              </ul>
           </nav> 
        </div>
    </header>  
    <section id="header" class="jumbotron text-center">
		<div>
			<img class="logo" src="imgs/barberdogLogo.png">
		</div>	
	</section>


   