<%- include("partials/header") %>
<br>
<h1 class="text-center display-4">על עצמי</h1>
<div class="block">
	<div class="block-line">
		<hr>
	</div>
</div>
<br>

<div class="container bg-light  display: flex">
    <div class="row">
        <div class="col-7 align-self-auto">
            <p class="text-right" style="font-size: 1.1rem;" dir="rtl">
               <strong style="font-size: 1.3rem;"> קוראים לי אור,</strong>
                בוגר מכללת "מגן דוד ירוק" המתמחה במקצועות פארא-וטרינרים<br>
                ואני מאמין שעל מנת להיות מוביל בתחום יש צורך בלמידה מתמדת.<br> 
                 לכן עם סיום הלימודים המשכתי לסמינרים, התמחויות ושיעורי מאסטר אצל מיטב ספרי הכלבים בארץ,
                
                 בין היתר סמינר מיוחד לתספורות אסיאתיות.
                 
                <br><br>
                בעל החיים שלכם הוא לא סתם עוד בעל חיים שחי ביחד איתכם, מגיע לו טיפול מסור לאורך כל חייו,
               לכן כשלוקחים אותו לטיפול מצפים לקבל את הטוב ביותר.
                <br>
               
                תוכלו למצוא אצלי במספרה אביזרי תספורת מקצועיים של המותג 
                <strong>Chris Christensen.</strong> 
                לצד שמפואים היפואלרגנים תוצרת איטליה, וכן מברשות ותכשירי בישום וטיפוח הפרווה מהחברות המובילות בעולם.

                
                <br><br><br>
                <strong style="font-size: 1.3rem;">?הידעתם</strong>
                <br>
                
                לא לכל כלב מתאימה התספורת של השני,
                <br>  לכל גזע יש אפיון המיחד את הגזע על פני אחרים,
               בנוסף על כך לכל כלב יש אופי מיוחד משל עצמו, דבר שמשפיע על אופי וצורת התספורת.
            </p>
        </div>
        <div class="col-5 m-0 pl-0 mr-0 pr-0 order-1 order-sm-1">
            <img src="imgs/dogs/new12.jpg" class="mx-auto img-fluid rounded float-right"  alt="dog getting a haircut">
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4 bg-light align-items-center">
        <div class="col-1"></div>
        <div class="col-2">
            <img src="imgs/logos/Envirogroomlogo.png" alt="Envirogroom-logo" class="img-fluid mx-auto"  id="logo">
        </div> 
        <div class="col-2">
            <img src="imgs/logos/Crownroyalelogo.png" alt="Crown-royale-logo" class="img-fluid mx-auto"  id="logo">
        </div>
        <div class="col-2">
            <img src="imgs/logos/Yuuplogo.png" alt="Yuup-logo" class="img-fluid mx-auto"  id="logos">
        </div>
        <div class="col-2">
            <img src="imgs/logos/Chrischristensen.jpg" alt="Chris-christensen-logo" class="img-fluid mx-auto"  id="logos">
        </div>
        <div class="col-2">
            <img src="imgs/logos/artero.jpg" alt="artero-logo" class="img-fluid mx-auto" id="logos">
        </div>
        <div class="col-1"></div>
    </div>	
</div>

<br>
<br>	

<%- include("partials/footer") %>