<%- include("partials/header") %>


<div class="container">
  <div class="row mb-5 text-center">
    <a href="imgs/dogs/b1.jpg" data-toggle="lightbox" data-gallery="gallery" class="col">
      <img src="imgs/dogs/b1.jpg" class="mx-auto img-fluid rounded" style="max-width: 100%;">
    </a>
  </div> 

  <div class="row my-5">
    <a href="imgs/dogs/d4.png" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4">
      <img src="imgs/dogs/d4.png" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/d5.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/d5.jpg" class="img-fluid rounded rotate">
    </a>
    <a href="imgs/dogs/d6.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/d6.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row my-5">
    <a href="imgs/dogs/a6.jpg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4">
      <img src="imgs/dogs/a6.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/a2.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/a2.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/a3.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/a3.jpg" class="img-fluid rounded">
    </a>
  </div>
 
  <div class="row my-5">
    <a href="imgs/dogs/a5.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/a5.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/a8.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/a8.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/a9.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/a9.jpg" class="img-fluid rounded">
    </a>
  </div>

  <div class="row my-5">
    <a href="imgs/dogs/b4.jpg" data-toggle="lightbox" data-gallery="gallery" class="rotate col-md-4">
      <img src="imgs/dogs/b4.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/b5.jpg" data-toggle="lightbox" data-gallery="gallery" class="rotate col-md-4">
      <img src="imgs/dogs/b5.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/b6.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/b6.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row my-5">
    <a href="imgs/dogs/b7.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/b7.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/b8.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/b8.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/b9.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/b9.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row my-5">
    <a href="imgs/dogs/c1.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/c1.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/c2.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/c2.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/c3.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/c3.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row my-5">
    <a href="imgs/dogs/c4.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/c4.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/c5.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/c5.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/c6.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/c6.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row my-5">
    <a href="imgs/dogs/c7.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/c7.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/c8.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/c8.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/c9.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/c9.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row my-5">
    <a href="imgs/dogs/d1.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/d1.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/d2.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/d2.jpg" class="img-fluid rounded">
    </a>
    <a href="imgs/dogs/dog15.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="imgs/dogs/dog15.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="text-center">
    <a href="/"><h5 class="text-center btn btn-info btn-md pb-0 pt-0">חזרה</h5></a>
  </div>
</div>


<%- include("partials/footer") %>