<!DOCTYPE html>
<html lang="he">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MPPTPLQ');</script>
    <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Barber-Dog ברברדוג מספרת כלבים</title>
  <meta name="google-site-verification" content="5LNO70MQfuuFAeSyrOQ4Slb88spjS-RfCVG-bzK0MRc" />
  <meta name="keywords" content="מספרת כלבים בנס ציונה - ספר לכלבים - or barberdog">
  <meta name="description" content="מספרת כלבים באווירה נעימה בנס ציונה - סוגי תספורות: תספורת גזע וטיפוח, תספורת בהתאמה אישית, טיפול לטיפוח הפרווה">
  <meta name="description" content="פקינז, פומרניאן ,ברברדוג, ברבר דוג, מספרת כלבים, אור מספרת כלבים, מספרת כלבים נס ציונה, אור ספר כלבים">
  <meta name="keywords" content="פקינז, פומרניאן ,ברברדוג, ברבר דוג, מספרת כלבים, אור מספרת כלבים, מספרת כלבים נס ציונה, אור ספר כלבים">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Lato:400,300,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet"> 

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>
    
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPPTPLQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left mr-5">
        <h1 class="text-light"><a href="tel:0542357718"><span>אור: 052-2357718</span></a></h1>
        <span class="px-2">
            <a class="px-0" href="https://www.facebook.com/Or-Barberdog-%D7%9E%D7%A1%D7%A4%D7%A8%D7%AA-%D7%9B%D7%9C%D7%91%D7%99%D7%9D-1227256140783366/"><i class="fa fa-facebook"></i></a>
            <a class="px-1" href="https://www.google.com/search?biw=1366&bih=626&tbm=lcl&sxsrf=ALeKk02i34ORnj2_wF8N0NSLQ6xffZ9khQ%3A1591964622374&ei=znPjXqi9FvH3qwGFurvwCQ&q=Barberdog+-+%D7%9E%D7%A1%D7%A4%D7%A8%D7%AA+%D7%9B%D7%9C%D7%91%D7%99%D7%9D&oq=Barberdog+-+%D7%9E%D7%A1%D7%A4%D7%A8%D7%AA+%D7%9B%D7%9C%D7%91%D7%99%D7%9D&gs_l=psy-ab.3..38.7612.7612.0.8534.1.1.0.0.0.0.228.228.2-1.1.0....0...1c.2.64.psy-ab..0.1.227....0.oZ5O4x57JFQ#rlfi=hd:;si:12322062958376997367;mv:[[31.922331577319024,34.79391264553327],[31.92197162268096,34.793488554466755]]"><i class="fa fa-google-plus"></i></a>
            <a class="px-0" href="https://www.instagram.com/or_barberdog/"><i class="fa fa-instagram"></i></a>
        </span>
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul class="text-right">
            <li><a href="/" >צרו קשר</a></li>
          <li><a href="/">אודות</a></li>
          <li><a href="/catalog">מוצרים</a></li>
          <li><a href="/">שירותי המספרה</a></li>
          <li><a href="/gallery">גלריה</a></li>
          <li class="active "><a href="/">בית</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End #header -->    


<div class="container">
  <div class="row mb-5 text-center main-image">
    <a href="assets/img/dogs/new12.jpg" data-toggle="lightbox" data-gallery="gallery">
      <img src="assets/img/dogs/new12.jpg" class="col-8 mx-auto d-block img-fluid rounded main-image"  alt="dog getting a haircut">
    </a>
  </div> 

  <div class="row mb-3">
    <a href="assets/img/dogs/n1.jpeg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4 mb-3">
      <img src="assets/img/dogs/n1.jpeg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/n2.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/n2.jpeg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/n3.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/n3.jpeg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row mb-3">
    <a href="assets/img/dogs/n4.jpeg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4 mb-3">
      <img src="assets/img/dogs/n4.jpeg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/n5.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/n5.jpeg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/n6.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/n6.jpeg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row mb-3">
    <a href="assets/img/dogs/n7.jpeg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4 mb-3">
      <img src="assets/img/dogs/n7.jpeg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/n8.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/n8.jpeg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/n9.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/n9.jpeg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>

  <div class="row mb-3">
    <a href="assets/img/dogs/new1.jpg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4 mb-3">
      <img src="assets/img/dogs/new1.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/new11.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/new11.jpg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/new13.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/new13.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row mb-3">
    <a href="assets/img/dogs/new2.jpg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4 mb-3">
      <img src="assets/img/dogs/new2.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/n10.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/n10.jpeg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/new4.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/new4.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row mb-3">
    <a href="assets/img/dogs/new5.jpg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4 mb-3">
      <img src="assets/img/dogs/new5.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/new6.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/new6.jpg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/new7.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/new7.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row mb-3">
    <a href="assets/img/dogs/new8.jpg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4 mb-3">
      <img src="assets/img/dogs/new8.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/new9.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/new9.jpg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/new10.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/new10.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  
  


  <div class="row mb-3">
    <a href="assets/img/dogs/d4.png" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4 mb-3">
      <img src="assets/img/dogs/d4.png" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/c7.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/c7.jpg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/d6.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/d6.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row my-5">
    <a href="assets/img/dogs/a6.jpg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4 mb-3">
      <img src="assets/img/dogs/a6.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/a2.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/a2.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/a3.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/a3.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
 
  <div class="row mb-3">
    <a href="assets/img/dogs/a5.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/a5.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/a8.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/a8.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/a9.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/a9.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>

  <div class="row mb-3">
    <a href="assets/img/dogs/b4.jpg" data-toggle="lightbox" data-gallery="gallery" class="rotate col-md-4 mb-3">
      <img src="assets/img/dogs/b4.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/b5.jpg" data-toggle="lightbox" data-gallery="gallery" class="rotate col-md-4 mb-3">
      <img src="assets/img/dogs/b5.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/b6.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/b6.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row mb-3">
    <a href="assets/img/dogs/b7.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/b7.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/b8.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/b8.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/b9.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/b9.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row mb-3">
    <a href="assets/img/dogs/c1.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/c1.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/c2.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/c2.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/c3.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/c3.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row mb-3">
    <a href="assets/img/dogs/c4.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/c4.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/c5.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/c5.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/c6.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/c6.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row mb-3">
    <a href="assets/img/dogs/d5.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/d5.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/c8.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/c8.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/c9.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/c9.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row mb-3">
    <a href="assets/img/dogs/d1.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/d1.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/d2.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/d2.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/dog15.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 mb-3">
      <img src="assets/img/dogs/dog15.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="text-center">
    <a href="/"><h5 class="text-center btn btn-info btn-md pb-0 pt-0">חזרה</h5></a>
  </div>
</div>


<%- include("partials/footer") %>