<%- include("partials/header") %>


<div class="container">
  <div class="row mb-5 text-center main-image">
    <a href="assets/img/dogs/new12.jpg" data-toggle="lightbox" data-gallery="gallery">
      <img src="assets/img/dogs/new12.jpg" class="col-8 mx-auto d-block img-fluid rounded main-image"  alt="dog getting a haircut">
    </a>
  </div> 

  <div class="row my-5">
    <a href="assets/img/dogs/n1.jpeg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4">
      <img src="assets/img/dogs/n1.jpeg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/n2.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/n2.jpeg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/n3.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/n3.jpeg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row my-5">
    <a href="assets/img/dogs/n4.jpeg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4">
      <img src="assets/img/dogs/n4.jpeg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/n5.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/n5.jpeg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/n6.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/n6.jpeg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row my-5">
    <a href="assets/img/dogs/n7.jpeg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4">
      <img src="assets/img/dogs/n7.jpeg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/n8.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/n8.jpeg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/n9.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/n9.jpeg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>

  <div class="row my-5">
    <a href="assets/img/dogs/new1.jpg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4">
      <img src="assets/img/dogs/new1.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/new11.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/new11.jpg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/new13.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/new13.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row my-5">
    <a href="assets/img/dogs/new2.jpg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4">
      <img src="assets/img/dogs/new2.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/n10.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/n10.jpeg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/new4.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/new4.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row my-5">
    <a href="assets/img/dogs/new5.jpg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4">
      <img src="assets/img/dogs/new5.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/new6.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/new6.jpg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/new7.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/new7.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row my-5">
    <a href="assets/img/dogs/new8.jpg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4">
      <img src="assets/img/dogs/new8.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/new9.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/new9.jpg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/new10.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/new10.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  
  


  <div class="row my-5">
    <a href="assets/img/dogs/d4.png" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4">
      <img src="assets/img/dogs/d4.png" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/c7.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/c7.jpg" class="img-fluid rounded rotate" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/d6.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/d6.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row my-5">
    <a href="assets/img/dogs/a6.jpg" data-toggle="lightbox" data-gallery="gallery" class=" col-md-4">
      <img src="assets/img/dogs/a6.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/a2.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/a2.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/a3.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/a3.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
 
  <div class="row my-5">
    <a href="assets/img/dogs/a5.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/a5.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/a8.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/a8.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/a9.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/a9.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>

  <div class="row my-5">
    <a href="assets/img/dogs/b4.jpg" data-toggle="lightbox" data-gallery="gallery" class="rotate col-md-4">
      <img src="assets/img/dogs/b4.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/b5.jpg" data-toggle="lightbox" data-gallery="gallery" class="rotate col-md-4">
      <img src="assets/img/dogs/b5.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/b6.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/b6.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row my-5">
    <a href="assets/img/dogs/b7.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/b7.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/b8.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/b8.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/b9.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/b9.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row my-5">
    <a href="assets/img/dogs/c1.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/c1.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/c2.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/c2.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/c3.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/c3.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row my-5">
    <a href="assets/img/dogs/c4.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/c4.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/c5.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/c5.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/c6.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/c6.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row my-5">
    <a href="assets/img/dogs/d5.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/d5.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/c8.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/c8.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/c9.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/c9.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="row my-5">
    <a href="assets/img/dogs/d1.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/d1.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/d2.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/d2.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
    <a href="assets/img/dogs/dog15.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/dogs/dog15.jpg" class="img-fluid rounded" alt="dog after haircut">
    </a>
  </div>
  <div class="text-center">
    <a href="/"><h5 class="text-center btn btn-info btn-md pb-0 pt-0">חזרה</h5></a>
  </div>
</div>


<%- include("partials/footer") %>