
<%- include("partials/header") %>


<div class="container">
    <div class="row my-5">
        <div class="card col-md-4 my-4">
            <div class="card-body">
            <h5 class="card-title text-center">Olga Rotshtein-Kislenko</h5>
            <p class="card-text text-center">
              注转 专 专 砖转转  驻注 住驻专转 注 住 砖  拽  注砖转 转 注...专 砖注转 爪 驻转注转 .
              住驻专 , 住, 住 住驻专 拽爪注. 拽 , 拽转 驻拽转, 砖  转住驻专转.
               砖  砖拽, 爪 !
            </p>
            <a href="https://www.facebook.com/olga.rotshteinkislenko/posts/10157368111517310" class="btn btn-primary">Facebook</a>
            </div>
        </div>
        <div class="card col-md-4 my-4">
            <div class="card-body">
            <h5 class="card-title text-center">Efrat Banay Bakal</h5>
            <p class="card-text text-center">
              住驻专 拽爪注 注 住转 砖拽注!!
            </p>
           <br><br><br><br><br><br>
            <a href="https://www.facebook.com/efrat.bakal/posts/1424328007719580" class="btn btn-primary">Facebook</a>
            </div>
        </div>
        <div class="card col-md-4 my-4">
            <div class="card-body">
            <h5 class="card-title text-center"></h5>
            <p class="card-text text-center">
               住 砖专 爪 .
               住驻专 住 砖  住转    
            </p>
            <br><br><br><br><br>
            <a href="https://www.facebook.com/permalink.php?story_fbid=1978708378906951&id=100003034246025" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>
    <div class="row my-5 pt-0">
      <div class="card col-md-4 my-4">
          <div class="card-body">
          <h5 class="card-title text-center">Rotem Goldshtein</h5>
          <p class="card-text text-center">
            住驻专  专 专转 专. 住 , 拽爪注 转爪转 专转
            <br>
            猸锔猸锔猸锔猸锔猸锔 
          </p>
          <a href="https://www.facebook.com/rotem.goldshtein/posts/10221561796018131" class="btn btn-primary">Facebook</a>
          </div>
      </div>
      <div class="card col-md-4 my-4">
        <div class="card-body">
          <h5 class="card-title text-center">Gal L.</h5>
          <p class="card-text text-center">
            拽 转  驻注 专砖 住转驻专, 砖专 专 拽 转 . 注 拽爪注转, 住转 驻拽转...  注. 转 !!!
          <br> 
          </p>
          <a href="https://easy.co.il/page/10047299" class="btn btn-primary">easy</a>
        </div>
      </div>
      <div class="card col-md-4 my-4">
        <div class="card-body">
          <h5 class="card-title text-center">Shay L.</h5>
          <p class="card-text text-center">
            #TOP3
            拽 转  砖 转住驻专转 驻注 专砖 专 拽 转   转住驻专转  驻拽  爪专 拽爪注转,  注 - 注拽专  转 专!!  注 
          <br>
        </p>
        <a href="https://easy.co.il/page/10047299" class="btn btn-primary">easy</a>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="card col-md-4 my-4">
          <div class="card-body">
          <h5 class="card-title text-center">Erez S.</h5>
          <p class="card-text text-center">
            住驻专  注,砖专转 拽爪注转.
            <br>
          </p>
          <a href="https://easy.co.il/page/10047299" class="btn btn-primary">easy</a>
          </div>
      </div>
    </div>
    <div class="text-center">
      <a href="/"><h5 class="text-center btn btn-info btn-md pb-0 pt-0">专</h5></a>
    </div>
</div> 

<!-- <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Efrat Banay Bakal</h5>
              <p class="card-text">住驻专 拽爪注 注 住转 砖拽注!!</p>
              <a href="https://www.facebook.com/efrat.bakal/posts/1424328007719580"><i class="fa fa-facebook-square"></i></a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div> -->


<%- include("partials/footer") %>